/*Side Menu Button Custom CSS*/
#pageHeaderMenu .navbar-toggler{

    border:none;
    outline: none;

}

/*Main content Custom CSS*/
#mainContent{
    margin-top: 70px;
}

/* Gradient Experiment
#pageNavbar{

    background-image: linear-gradient(#424242 1%,rgba(255,0,0,0));

}
*/